@color-octopus: #143F50;
@color-mandarina: #4A6973;
@color-sandstone: #EDE5BE;
@color-reddish: #D34A52;
@color-heatmist: #664649;
@color-whitey: #eeeeef;

body {
  padding: 0;
  margin: 0;
  background-color: @color-whitey;
}
a {
  color: @color-reddish;
}
#main-header {
  margin: 0;
  font-family: monospace;
  background-color: @color-octopus;
  color: @color-whitey;

  h1 {
  }
}

#cheatsheet {
  font-family: sans-serif;
  h2 {
    margin-top:0px;
  }
  float:right;
  width: 30%;
  font-size: 70%;
}

#main-container {
  margin-left: 1em;
  #regex-input {
    margin-bottom:1em;
    input {
      width: 60%;
      font-size: 20pt;
      font-family: Arial;
      background-color: @color-sandstone;
    }
  }
  #data {
    font-family: monospace;
    textarea {
      resize: none;
      width: 60%;
      height: 60%;
      font-size: 20pt;
      font-family: Arial;
      background-color: @color-sandstone;
    }
  }
}

.pull-right {
  float:right;
}

#footer {
  background-color: @color-mandarina;
  color: @color-whitey;
  font-family: monospace;
  font-size:60%;
  width:100%;
  height:20;
  position:absolute;
  bottom:0;
  left:0;
}
